<div class="selectlocation1">
    <h1 style="text-align: center; margin-top: 100px; padding-top: 10px;">Vehicle Models</h1>
    <p style="text-align: center;font-size:18px; font-family: Arial, Helvetica, sans-serif;color:silver">
        Our rental fleet. To contribute to positive change and achieve our sustainability goals with many extraordinary.
    </p>

    <!-- Location selection -->
    <label style="font-size: 20px; margin-left:450px;">Select Location:</label>
    <select [(ngModel)]="selectlocation">
        <option value="" disabled hidden>select location</option>
        <option *ngFor="let location of locations">{{location}}</option>
    </select>

    <!-- Date selection -->
    <div class="date">
        <label>Pickup Date:</label>
        <input type="date" [min]='today' [(ngModel)]="pickupdate">

        <label style="padding-left: 10px;">Return Date:</label>
        <input type="date" [min]='pickupdate' [(ngModel)]="returndate">
    </div>

    <!-- Category selection -->
    <div class="category">
        <select [(ngModel)]="selectcategory" (change)="oncategorychange()">
            <option value='' disabled hidden>select category</option>
            <option *ngFor="let category of categories">{{category}}</option>
        </select>
    </div>
</div>

<div class="car1" *ngIf="selectcategory">
    <button *ngFor="let type of carTypes" (click)="selectCarType(type)" [class.selected]="selectedCartype === type"
        [disabled]="!isTypeEnabled(type)">
        {{type}}
    </button>
</div>

<div *ngIf="displayCar" class="car2">
    <div>
        <img [src]="'http://localhost:3000' + displayCar.imageUrl[0]" alt="{{displayCar.make}}" class="c2">
    </div>
    <div class="cardetails">
        <h3>{{displayCar.make}} {{displayCar.model}}</h3>
        <ul>
            <li *ngFor="let feat of getTwoFeatures(displayCar.features)">
                <b style="color: green;">Feature: </b>{{feat}}
            </li>
        </ul>
        <button (click)="booknow()" [disabled]="!formvalid()">Book Now</button>
    </div>
</div>